<tr id="<%= qps_passenger.id %>">
  <td></td>
  <td class="content"><%= staff_name(qps_passenger.staff_id) %></td>
  <td class="timestamp"><%= my_formatted_date(qps_passenger.evaluation_date) %></td>
  <td class="content"><%= qps_passenger.flight_no.upcase %></td>
  <td class="content"><%= qps_passenger.check_in %></td>
  <td class="content"><%= qps_passenger.boarding %></td>
  <td class="content"><%= qps_passenger.arrival %></td>
  <td class="content"><%= qps_passenger.transit_transfer %></td>
  <td class="content"><%= qps_passenger.lost_and_found %></td>
  <td class="content"><%= qps_passenger.special_assistant %></td>
</tr>