<div class = "row">
  <aside class="col-md-4">
   <%= form_tag cs_evaluations_path, :method => :get, :class => 'form-inline' do %>
      <%= date_field_tag :from_date, 
                          (params[:from_date] || Date.today.beginning_of_week),
                          class: 'form-control' %>
      <%= date_field_tag :to_date, 
                          (params[:to_date] || Date.today),
                          class: 'form-control' %>
      <div class="row">
        <div class="col-xs-6">
          <%= radio_button_tag :option, '0', (params[:option] == '0') %>
          <%= label_tag "None" %><br/>
          <%= radio_button_tag :option, '1', (params[:option] == '1') %>
          <%= label_tag "1-time only" %><br/>
          <%= radio_button_tag :option, '2', (params[:option] == '2') %>
          <%= label_tag "Twice or more"%><br/>
        </div>
        <div class="col-xs-6">
          <%= radio_button_tag :team, 0, (params[:team].to_i == 0 || params[:team].nil?) %>
          <%= label_tag "All teams" %><br/>
          <%= radio_button_tag :team, 1, params[:team].to_i == 1 %>
          <%= label_tag "Team 1"%><br/>
          <%= radio_button_tag :team, 2, params[:team].to_i == 2 %>
          <%= label_tag "Team 2"%><br/>
          <%= radio_button_tag :team, 3, params[:team].to_i == 3 %>
          <%= label_tag "Team 3"%><br/>
          <%= radio_button_tag :team, 4, params[:team].to_i == 4 %>
          <%= label_tag "Team 4"%><br/>
        </div>
      </div>
      <%= submit_tag "Search",class: "btn-primary" %>
    <% end %>
  </aside>
  
  <div class="col-md-8">
  <h3>CS 7-step Evaluations from 
  <%= my_formatted_date(Date.parse(params[:from_date])) unless params[:from_date].blank? %><br/>
  <% if @none %>
    List of non-evaluated staff
  <% end %>
  </h3>
  <%= link_to 'Download as Excel', cs_evaluations_path(format: :xlsx, :params => params) %>
  <div class="table-responsive">
    <table class="table table-bordered">
      <tr class="header">
        <% if @cs_evaluations %>
          <th></th>
          <th>Evaluator</th>
          <th>Staff ID</th>
          <th>Staff Name</th>
          <th>Evaluation Date</th>
          <th>Flight No</th>
          <th>S1</th>
          <th>S2</th>
          <th>S3</th>
          <th>S4</th>
          <th>S5</th>
          <th>S6</th>
          <th>S7</th>
        </tr>
        <%= render @cs_evaluations if @cs_evaluations %>
      <% else %>
        <th>Team</th>
        <th>Staff ID</th>
        <th>Staff Name</th>
        <%= render :partial => 'user', :collection => @none if @none %>
      <% end %>
    </table>
  </div>
</div>
</div>