<div class="row">
  <div class="col-md-3"><%= airlines_sla.airline_code.upcase %> => <%= airlines_sla.category.capitalize %></div>
  <div class="col-md-6"><%= link_to airlines_sla.kpi, edit_airlines_sla_path(airlines_sla.id) %></div>
  <div class="col-md-3"><%= airlines_sla.target %> <%= airlines_sla.target_unit %>
    <% if current_user && current_user.staff_id == "04105" %>
      | <%= link_to "Delete", airlines_sla, method: :delete,
                                    data: { confirm: "You sure?" } %>
    <% end %>
  </div>
</div>